name: Bygge shiten

on:
  push:
    branches:
      - master

jobs:
  build:
    name: kompiler, test, bygg
    runs-on: ubuntu-latest
    steps:
    - name: checkout out that code
      uses: actions/checkout@v1
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Build with Maven
      run: echo "mvn package --file pom.xml"
    - name: Snekre sammen et image
      run: echo "$DOCKER_TAG"
      env:
        DOCKER_TAG: here_goes_docker_tag
    - name: Lage et image navn
      run: |
        echo $(echo $GITHUB_SHA | cut -c1-7)

